<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCrDeC5s34Qfaop8nVgchF4tv5bp5NZmqM</string>
	<key>GCM_SENDER_ID</key>
	<string>1064274526643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>jafa-f716c</string>
	<key>STORAGE_BUCKET</key>
	<string>jafa-f716c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064274526643:ios:a667972e6f357b2e1ccbc6</string>
</dict>
</plist>